/* Estilos para a página */
body {
    font-family: sans-serif;
}
h1{
    text-align: center;
    background-color: burlywood;
}

#lista-produtos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.produto {
    width: 250px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
}

.produto h2 {
    margin-top: 0;
}

.produto p {
    margin-bottom: 0;
}